/*************************************
 CSS Animación. How a function works
 
 Autor: Alfredo Oltra
**************************************/

/**************
  CONTENIDOS

  $Reset
  $Etiquetas
  $Contenedores
  $Elementos
  $Animaciones
***************/

/*---------------------
  $RESET
----------------------*/

* { margin: 0; padding: 0 }

/*---------------------
  $ETIQUETAS
----------------------*/

html {
    font-family: 'Roboto Mono', monospace;
    background: #333; 
    font-size: 1rem;
}

h1 {
    font-family: Arial;
    color:       aliceblue;
    
    margin: 10px;
    text-align: center;
}

button {
    padding:   6px;
    font-size: 1.3rem;
    margin:    15px;
}

li {
    list-style: none;
}


/*---------------------
  $CONTENEDORES
----------------------*/

.contenido {
    display:   flex;
    flex-flow: column;
}

.codigo {
    display: flex;
}

.variables {
    display: flex;
}

.panel {
    text-align: center;
}

.columna {
    flex-basis: 50%;
    margin:  2%;
    padding: 1%;
    color: #eee;
    border-radius: 5px;
}

/* OOCSS. Clases hojas de columna. Incorporan los colores 
   Nomenclatura BEM */
.columna__codigo-principal {
    background-color: #221122;
}

.columna__codigo-funcion {
    background-color: #224455;
}

.columna__variables-principal {
    background-color: #221141;
}

.columna__variables-funcion {
    background-color: #224499;
}

.columna--cabecera__funcion {
    color:          #aaeeaa;
    text-align:     center;
    margin-top:     8px;
    margin-bottom:  15px;
}

.columna--cabecera__principal {
    color:          #eeeeaa;
    text-align:     center;
    margin-top:     10px;
    margin-bottom:  20px;
}

/*---------------------
  $ELEMENTOS
----------------------*/

.instruccion__identada {
    text-indent: 2em;    
}

.instruccion__con-retorno-linea {
    margin-bottom: 1em;    
}

.variable {
    font-size:   1rem;
    line-height: 1.5em;
}

/*----------------------------------*
     $ANIMACIONES 
 *----------------------------------*/

@keyframes ejecucion-linea {

    from {
        color: #eee;
    }

    to {
        color: #ff3456;
    }
}

.ejecucion {
    animation-name: ejecucion-linea;
    animation-direction: alternate;
    animation-duration: 2.5s;
    animation-iteration-count: 2;
    animation-delay: 0.6s;
}

.ejecucion-parcial {
    animation-name: ejecucion-linea;
    animation-direction: normal;
    animation-duration: 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes cambio-transparencia {

    from {
       opacity: 1;
    }

    to {
       opacity: 0.35;
    }
}

.desactiva-funcion {
    animation-name: cambio-transparencia;
    animation-direction: alternate;
    animation-duration: 1.8s;
    animation-iteration-count: 3;
    animation-fill-mode: both;
}